<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />


    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/charts/chart-1/assets/css/chart-1.css">
    <!-- ApexCharts JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>
    .square-card {
            height: 500px; /* Adjust based on your preference */
            border-radius: 25px;
        }
        .square-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    .legend {
        padding: 3px 3px;
        font: 14px Arial, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    .legend-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .legend-body p {
        margin: 0;
        font-size: 14px;
        line-height: 1.4;
    }
    .legend-body .icon {
        margin-right: 5px;
        color: #2aabd2;
    }
    .legend-body p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
</style>


    <title>maggieseaweed</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>

    <div class="container-fluid text-center">
        <div class="logo">
            <!-- Link for the logo -->
            <a href="/">
                <img src="/static/maggieseaweed/transparent_black_logo.png" alt="Maggie Seaweed Logo" style="max-width: 100%; height: auto;">
            </a>
        </div>
        <!-- Link with an arrow icon to go back -->
        <a href="/" class="text-black" style="font-size: 24px;">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>

    <div class="container px-1 py-5 my-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">
            <!-- First Column -->
            <div class="col-md-6">
                <div class="card mb-4 gradient-custom square-card" style="border-radius: 25px;">
                    <div class="card-body p-4 square-content">
                        <div id="demo1" data-mdb-carousel-init="carousel" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                                <li data-target="#demo1" data-slide-to="1"></li>
                                <li data-target="#demo1" data-slide-to="2"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-between mb-2 pb-2">
                                        <div>
                                            <h6 class="display-6"><strong>You should surf at </strong></h6>
                                            <h4 class="display-4"><strong>{{ time }}</strong></h4>
                                            <h5 class="display-5"><strong>{{ date }}</strong></h5>
                                            <h6 class="text-muted">@ {{ location_name }}</h6>
                                            <p class="text-muted"> {{ distance_to_input }} miles from {{ input_location_name }}</p>
                                            <h5 class="display-5"><strong>🌡️ {{ air_temperature }}°F 💨 {{ wind_speed_10m }}mph {{ wind_direction_10m }}</strong></h5>
                                            <h5 class="display-5"><strong>💧 {{ water_temperature }}°F 🌊 {{ wave_height }} ft</strong></h5>
                                        </div>
                                        <div id="weatherIcon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Column -->
            <div class="col-md-6">
                <div class="card mb-4 gradient-custom square-card" style="border-radius: 25px;">
                    <div class="card-body p-4">
                        <div id="map" style="height: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>

            <div class="card mb-4 gradient-custom" style="border-radius: 25px;">
                <div class="card-body p-4">
              <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                <div class="mb-3 mb-sm-0 text-center">
                  <h5 class="card-title widget-card-title">{{ forecast_days }} Day Surfability Forecast </h5>
                </div>
              </div>
              <div id="surfabilityChart" ></div>

            </div>
        </div>



    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var cloud_cover = {{ cloud_cover }};

            // Get the weatherIcon div
            var weatherIcon = document.getElementById("weatherIcon");

            // Create an icon element based on cloud cover percentage
            var iconElement;
            if (cloud_cover > 75) {
                iconElement = document.createElement("img");
                iconElement.src = "https://www.iconarchive.com/download/i132284/bootstrap/bootstrap/Bootstrap-cloud.1024.png";
                iconElement.width = "150";
            } else if (cloud_cover >= 25 && cloud_cover <= 75) {
                iconElement = document.createElement("img");
                iconElement.src = "https://icons.iconarchive.com/icons/ionic/ionicons/256/partly-sunny-outline-icon.png";
                iconElement.width = "150";
            } else {
                iconElement = document.createElement("img");
                iconElement.src = "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp";
                iconElement.width = "150";
            }

            // Add additional styling to the icon element
            iconElement.style.color = "black"; // Set icon color to black
            iconElement.style.backgroundColor = "white"; // Set background color to white

            // Append the icon element to the weatherIcon div
            weatherIcon.appendChild(iconElement);
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var chartData = {{ chart_data_json|safe }};

            var options = {
                chart: {
                    type: 'line',
                    height: 350,
                    zoom: {
                        enabled: true,
                        type: 'x',
                        autoScaleYaxis: true
                    },
                    toolbar: {
                    show: false  // Disables the toolbar
                    }
                },

                series: [{
                    name: 'Surfability Score',
                    data: chartData
                }],
                xaxis: {
                    type: 'datetime',
                    labels: {
                        rotate: -45,
                        offsetY: 2,
                        datetimeFormatter: {
                            year: 'yyyy',
                            month: 'MMM \'yy',
                            day: 'dd MMM',
                            hour: 'HH:mm'
                        }
                    }
                },
                yaxis: {
                    title: {
                        text: 'Score',
                        style: {
                        fontSize: '20px'  // Increase the font size here
                    }
                    }
                },
                tooltip: {
                    x: {
                        format: 'dd MMM yyyy HH:mm'
                    },
                    y: {
                        formatter: function (value) {
                            return value.toFixed(2);
                        }
                    },
                    custom: function({ series, seriesIndex, dataPointIndex, w }) {
                        var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];
                        return '<div class="arrow_box">' +
                            '<span> 💧 ' + data.water_temperature + '°F</span><br>' +
                            '<span> 🌊 ' + data.wave_height + 'ft</span><br>' +
                            '<span> 🌡️ ' + data.air_temperature + '°F</span><br>' +
                            '<span> 💨 ' + data.wind_speed_10m + 'mph '+ data.wind_direction_10m +'</span><br>' +
                            '</div>';
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#surfabilityChart"), options);
            chart.render();
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <div id="map">
    <script>
        $(document).ready(function () {
            var latitude = {{ latitude }};
            var longitude = {{ longitude }};
            var location_name = "{{ location_name }}";
            var wave_direction = "{{ wave_direction }}";
            var wave_type = "{{ wave_type }}";
            var crowd_level = "{{ crowd_level }}";
            var distance_to_input = "{{ distance_to_input }}";
            var input_location_name = "{{ input_location_name }}";

            var map = L.map('map').setView([latitude, longitude], 13);

            L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://carto.com/attributions">CARTO</a>'
            }).addTo(map);

            // Add legend
            var legend = L.control({ position: 'topright' });

            legend.onAdd = function (map) {
                var div = L.DomUtil.create('div', 'legend');
                div.innerHTML += '<div class="legend-title">' + location_name + '</div>';
            div.innerHTML += '<div class="legend-body">';
            div.innerHTML += '<p><i class="fas fa-water icon"></i> ' + wave_type + '</p>';
            div.innerHTML += '<p><i class="fas fa-arrow-up icon" style="transform: rotate(45deg);"></i> ' + wave_direction + '</p>';
            div.innerHTML += '<p><i class="fas fa-users icon"></i> ' + crowd_level + '</p>';
            div.innerHTML += '</div>';
                return div;
            };

            legend.addTo(map);


            L.marker([latitude, longitude]).addTo(map)
                .bindPopup(distance_to_input + ' miles from ' + input_location_name).openPopup();
        });
    </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://unpkg.com/bs-brain@2.0.3/components/charts/chart-1/assets/controller/chart-1.js"></script>
</body>


</html>
