{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

    <!-- jQuery for AJAX requests -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var accessToken = 'pk.eyJ1IjoibWFnZ2llY3NjaHVsdHoiLCJhIjoiY2x0ZGRiZWpwMDNjbTJsc2R5eHQ4YnMzYiJ9.ALy4ULirb8PPUAFyY-f4uw';
            $('#place').on('input', function () {
                var place = $(this).val();
                if (place.length > 3) {  // Only start searching when the input length is more than 3 characters
                    $.ajax({
                        url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + encodeURIComponent(place) + '.json',
                        type: 'GET',
                        data: {
                            access_token: accessToken,
                            autocomplete: true
                        },
                        success: function (data) {
                            $('#search-results').empty();
                            data.features.forEach(function (feature) {
                                var name = feature.place_name;
                                var li = $('<li>')
                                    .addClass('list-group-item list-group-item-action')
                                    .text(name)
                                    .click(function () {
                                        $('#place').val(name);
                                        $('#search-results').empty();
                                        var coordinates = feature.center;
                                        console.log('Selected coordinates:', coordinates[1], coordinates[0]); // latitude, longitude
                                    });
                                $('#search-results').append(li);
                            });
                        },
                        error: function (error) {
                            console.error('Error fetching location data:', error);
                        }
                    });
                }
            });
        });
    </script>
    <style>
        #search-results {
            position: absolute;
            z-index: 1000;
            width: calc(100% - 30px);
            max-height: 300px;
            overflow-y: auto;
            background: white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            list-style: none;
            padding-left: 0;
        }

        #search-results li {
            padding: 10px;
            cursor: pointer;
        }

        #search-results li:hover {
            background-color: #f8f8f8;
        }
    </style>
    <script>
        $(document).ready(function () {
            // Handle form submission
            $('#fetchWeatherDataForm').submit(function (e) {
                e.preventDefault();

                var place = $('#place').val();
                var forecastDays = $('#forecastDays').val();

                // Make a request to Mapbox Geocoding API
                $.ajax({
                    url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + encodeURIComponent(place) + '.json',
                    type: 'GET',
                    data: {
                        access_token: "pk.eyJ1IjoibWFnZ2llY3NjaHVsdHoiLCJhIjoiY2x0ZGRiZWpwMDNjbTJsc2R5eHQ4YnMzYiJ9.ALy4ULirb8PPUAFyY-f4uw"
                    },
                    success: function (data) {
                        // Get the first result
                        var result = data.features[0];

                        // Extract latitude and longitude
                        var latitude = result.center[1];
                        var longitude = result.center[0];
                        var place_name = result.place_name;

                        window.location.href = "/results/" + place_name + "/" + latitude + "/" + longitude + "/" + forecastDays + "/";

                    },
                    error: function (error) {
                        console.error('Error fetching location data:', error);
                        $('#result').html('<p>Error fetching location data. Please try again.</p>');
                    }
                });
            });


        });

    </script>

    <title>maggieseaweed</title>
</head>

<body>

    <div class="container-fluid text-center py-5">
        <style>
            .logo {
                text-align: center;
                font-family: Arial, sans-serif;
                margin-top: 50px;
                line-height: 0.9; /* Adjust this value to control the space between lines */
            }
            .logo .m {
                font-size: 110px;
            }
            .logo .s {
                font-size: 115px;
                display: inline-block;
                transform: rotate(90deg);
            }
            .logo .w {
                font-size: 110px;
            }
            .logo .line {
                font-size: 60px;
                display: block;
            }
        </style>
        <div class="logo">
            <span class="m">m </span>
            <span class="s"> s</span>
            <span class="w">w</span>
            <span class="line">maggieseaweed</span>
        </div>

    </div>
    <div class="container-fluid text-center py-5"><h1>welcome to my surf app!</h1></div>


    <section class="vh-100">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="fetchWeatherDataForm">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="place">Where are you surfing?</label>
                            <input type="text" class="form-control" id="place" name="place"
                                aria-describedby="locationHelp" placeholder="Enter location" required>
                            <div id="search-results" class="search-results"></div>
                        </div>
                        <div class="form-group">
                            <label for="forecastDays">Forecast Days</label>
                            <select class="form-control" id="forecastDays" name="forecastDays">
                                <option>1</option>
                                <option>3</option>
                                <option>7</option>
                                <option>14</option>
                                <option>16</option>
                            </select>
                        </div>
                        <div class="form-group">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="morningCheckbox" value="morning">
                                <label class="form-check-label" for="morningCheckbox">Morning</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="afternoonCheckbox"
                                    value="afternoon">
                                <label class="form-check-label" for="afternoonCheckbox">Afternoon</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="nightCheckbox" value="night">
                                <label class="form-check-label" for="nightCheckbox">Night</label>
                            </div>

                        </div>
                        <div class="text-center"> <!-- Centered submit button -->
                            <button type="submit" class="btn btn-primary" value="Go">Submit</button>
                        </div>
                    </form>
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
