{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle form submission
            $('#fetchWeatherDataForm').submit(function (e) {
                e.preventDefault();

                var place = $('#place').val();
                var forecastDays = $('#forecastDays').val();

                // Make a request to Mapbox Geocoding API
                $.ajax({
                    url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/' + encodeURIComponent(place) + '.json',
                    type: 'GET',
                    data: {
                        access_token: "pk.eyJ1IjoibWFnZ2llY3NjaHVsdHoiLCJhIjoiY2x0ZGRiZWpwMDNjbTJsc2R5eHQ4YnMzYiJ9.ALy4ULirb8PPUAFyY-f4uw"
                    },
                    success: function (data) {
                        // Get the first result
                        var result = data.features[0];

                        // Extract latitude and longitude
                        var latitude = result.center[1];
                        var longitude = result.center[0];
                        var place_name = result.place_name;

                        // Now you can proceed with the form submission
                        window.location.href = "/results/" + place_name + "/" + latitude + "/" + longitude + "/" + forecastDays + "/";

                    },
                    error: function (error) {
                        console.error('Error fetching location data:', error);
                        $('#result').html('<p>Error fetching location data. Please try again.</p>');
                    }
                });
            });


        });

    </script>

    <title>maggieseaweed</title>
</head>

<body>
    <div class="container-fluid text-center py-5">
        <img src="{% static 'maggieseaweed/transparent_black_logo.png' %}" alt="msw_logo" class="logo">
        <h1>welcome to my surf app!</h1>
    </div>

    <section class="vh-100">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="fetchWeatherDataForm">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="place">Where are you surfing?</label>
                            <input type="text" class="form-control" id="place" name="place"
                                aria-describedby="locationHelp" placeholder="Enter location" required>
                            <small id="locationHelp" class="form-text text-muted">Enter beach, returns exact location (rather than nearest beach).</small>
                            <mapbox-search-box
                                access-token="<pk.eyJ1IjoibWFnZ2llY3NjaHVsdHoiLCJhIjoiY2x0ZGRiZWpwMDNjbTJsc2R5eHQ4YnMzYiJ9.ALy4ULirb8PPUAFyY-f4uw>"
                                proximity="0,0">
                            </mapbox-search-box>
                        </div>

                        <div class="form-group">
                            <label for="forecastDays">Forecast Days</label>
                            <select class="form-control" id="forecastDays" name="forecastDays">
                                <option>1</option>
                                <option>3</option>
                                <option>7</option>
                                <option>14</option>
                                <option>16</option>
                            </select>
                        </div>
                        <div class="form-group">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="morningCheckbox" value="morning">
                                <label class="form-check-label" for="morningCheckbox">Morning</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="afternoonCheckbox"
                                    value="afternoon">
                                <label class="form-check-label" for="afternoonCheckbox">Afternoon</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="nightCheckbox" value="night">
                                <label class="form-check-label" for="nightCheckbox">Night</label>
                            </div>

                        </div>
                        <div class="text-center"> <!-- Centered submit button -->
                            <button type="submit" class="btn btn-primary" value="Go">Submit</button>
                        </div>
                    </form>
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
